/* Body Style */
body {
    background-color:#E5BEED; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: MV Boli;
}

html, body {
    height: 100%;
    margin: 0%;
}

.footer {
  overflow: hidden;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #9593D9;
   color: #153B50;
   text-align: center;
}

/* 
Colors

#E5BEED (background)
#84BC9C (details)
#0A2342 (Buttons) 
#9593D9(containers)
#FFFFFF (text)
*/
