/* Body Style */
body {
    background-color:#0A2342; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: MV Boli;

}

html, body {
    height: 100%;
    margin: 0%;
}

header {
    background-color: #2CA58D;
    height: 50px;
    text-align: center;
    font-size: 25px;
    color: #FFFDF7;
    border-color: #84BC9C;
    border-bottom-style: dashed;
}

Nav {
    background-color: #2CA58D;
    height: 55px;
    align-content: center;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
/* Body Style *\

/* Button Links */
Nav a {
    background-color: #0A2342;
    padding: 2px 10px;
    border-radius: 20px;
    font-family: MV boli;
    color:#FFFDF7;
    font-size: 20px;
    text-decoration: none;
    border-style: ridge;
    border-color: #153760;
}

Nav a:hover {
    background-color: #b05665;
    color:#d7919c;
    cursor: pointer;
    border-style: ridge;
    border-color:#d7919c;
}

div.footer {
    position: fixed;
    background-color: #2CA58D;
    width: 100%;
    height: 75px;
    bottom: 0px;
    align-content: center;
}

div.footer a {
    background-color:#0A2342;
    padding: 3px 15px;
    border-radius: 20px;
    color:#FFFDF7;
    font-size: 20px;
    text-decoration: none;
    border-style: ridge;
    border-color: #153760;
}

div.footer a:hover {
    background-color: #b05665;
    color:#d7919c;
    cursor: pointer;
    border-style: ridge;
    border-color:#d7919c; 
}
/* Button Links *\

/* 
Colors

#FFFDF7 (background)
#84BC9C (details)
#0A2342 (Buttons) 
#2CA58D(containers)
#FFFDF7 (text)
*/
