/* Body Style */
body {
    background-color:#E5BEED; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: MV Boli;
}

html, body {
    height: 100%;
    margin: 0%;
}
/* Styling for IndexPage */
.indexcontainer {
  color: #153B50;
  background-color: #9593D9;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  max-width: 600px;
}

.indexp{
    line-height: 0.3;
}

 .bilde img {
    width: 250px ;
    float: left ;
    margin: 30px 30px 30px 0;
    clip-path: circle();
    position: relative;
}
.profile {
    top: -50px;
    background-position: center;
}

.footer {
  overflow: hidden;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #9593D9;
   color: #153B50;
   text-align: center;
}

/* 
Colors

#E5BEED (background)
#84BC9C (details)
#0A2342 (Buttons) 
#9593D9(containers)
#FFFFFF (text)
*/
